#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
colnames= ['ano','anomalia termica']

df = pd.DataFrame([[1900, -0.08],
                   [1920, 0.27],
                   [1940, 0.12],
                   [1960, -0.03],
                   [1980, 0.26],
                   [2000, 0.40],
                   [2020, 1.02]], columns = colnames)

print(df)

    ano  anomalia termica
0  1900             -0.08
1  1920              0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui

df.set_index('ano', inplace = True)
print(df)

      anomalia termica
ano
1900             -0.08
1920              0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
classeSocialDict = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
classeSocialSeries = pd.Series(classeSocialDict)
classeSocialSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
colnames= ['x1','x2','x3']
df = pd.DataFrame(arr)
print(df)

             0           1           2
0    90.502651   98.465215  108.137133
1    84.314995   88.431323  105.021372
2    92.709288  103.449378   91.318622
3   103.769181  110.332306  103.601549
4    95.961819  113.789972  102.928157
5    90.219135   81.172229   87.954604
6    94.928596  105.351430  110.271836
7    94.086981  107.570028   97.639520
8    98.765115   94.165331   89.258003
9    96.491213   84.884762  104.030123
10   97.810020  117.818644  110.663424
11   92.930300   88.791598   94.601205
12  103.794035   97.037062  110.513584
13  101.119704  108.305435   91.637466
14   96.355994   96.676253  108.917329
15   99.096636   78.008218  103.531944
16   80.843621   92.089546  113.042501
17   89.101986  132.122115   95.645835
18   98.467652   93.180690   96.957498
19  101.030018  112.917291   87.980979

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [9]:
#seu código aqui
colnames= ['x1','x2','x3']
df = pd.DataFrame((arr), columns = colnames)
print(df)

            x1          x2          x3
0    90.502651   98.465215  108.137133
1    84.314995   88.431323  105.021372
2    92.709288  103.449378   91.318622
3   103.769181  110.332306  103.601549
4    95.961819  113.789972  102.928157
5    90.219135   81.172229   87.954604
6    94.928596  105.351430  110.271836
7    94.086981  107.570028   97.639520
8    98.765115   94.165331   89.258003
9    96.491213   84.884762  104.030123
10   97.810020  117.818644  110.663424
11   92.930300   88.791598   94.601205
12  103.794035   97.037062  110.513584
13  101.119704  108.305435   91.637466
14   96.355994   96.676253  108.917329
15   99.096636   78.008218  103.531944
16   80.843621   92.089546  113.042501
17   89.101986  132.122115   95.645835
18   98.467652   93.180690   96.957498
19  101.030018  112.917291   87.980979

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [42]:
# seu código aqui
colnames= ['x1','x2','x3']
df = pd.DataFrame((arr), columns = colnames)
col = df.loc[: , "x1":"x3"]
df['media']=df.mean(axis=1)
df

            x1          x2          x3       media
0    90.502651   98.465215  108.137133   99.034999
1    84.314995   88.431323  105.021372   92.589230
2    92.709288  103.449378   91.318622   95.825763
3   103.769181  110.332306  103.601549  105.901012
4    95.961819  113.789972  102.928157  104.226650
5    90.219135   81.172229   87.954604   86.448656
6    94.928596  105.351430  110.271836  103.517287
7    94.086981  107.570028   97.639520   99.765510
8    98.765115   94.165331   89.258003   94.062816
9    96.491213   84.884762  104.030123   95.135366
10   97.810020  117.818644  110.663424  108.764029
11   92.930300   88.791598   94.601205   92.107701
12  103.794035   97.037062  110.513584  103.781560
13  101.119704  108.305435   91.637466  100.354202
14   96.355994   96.676253  108.917329  100.649859
15   99.096636   78.008218  103.531944   93.545599
16   80.843621   92.089546  113.042501   95.325223
17   89.101986  132.122115   95.645835  105.623312
18   98.467652   93.180690   96.957498   96.201946
19  101.030018  112.917291   87.980979  100.642763

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [46]:
# seu código aqui
colnames= ['x1','x2','x3']
df = pd.DataFrame((arr), columns = colnames)
col = df.loc[: , "x1":"x3"]
df['media']=df.mean(axis=1)
df['log_med']=np.log(df.media)
df

            x1          x2          x3       media   log_med
0    90.502651   98.465215  108.137133   99.034999  4.595473
1    84.314995   88.431323  105.021372   92.589230  4.528173
2    92.709288  103.449378   91.318622   95.825763  4.562532
3   103.769181  110.332306  103.601549  105.901012  4.662505
4    95.961819  113.789972  102.928157  104.226650  4.646568
5    90.219135   81.172229   87.954604   86.448656  4.459551
6    94.928596  105.351430  110.271836  103.517287  4.639739
7    94.086981  107.570028   97.639520   99.765510  4.602823
8    98.765115   94.165331   89.258003   94.062816  4.543963
9    96.491213   84.884762  104.030123   95.135366  4.555301
10   97.810020  117.818644  110.663424  108.764029  4.689181
11   92.930300   88.791598   94.601205   92.107701  4.522959
12  103.794035   97.037062  110.513584  103.781560  4.642288
13  101.119704  108.305435   91.637466  100.354202  4.608706
14   96.355994   96.676253  108.917329  100.649859  4.611648
15   99.096636   78.008218  103.531944   93.545599  4.538449
16   80.843621   92.089546  113.042501   95.325223  4.557294
17   89.101986  132.122115   95.645835  105.623312  4.659879
18   98.467652   93.180690   96.957498   96.201946  4.566450
19  101.030018  112.917291   87.980979  100.642763  4.611577